<!-- Title Page -->
<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url(images/about-us.jpg);">
    <h2 class="l-text2 t-center" style="text-shadow: 2px 2px rgb(80, 80, 80)">
        About
    </h2>
</section>

<!-- content page -->
<section class="bgwhite p-t-66 p-b-38">
    <div class="container">
        <div class="row">
            <div class="col-md-4 p-b-30">
                <div class="hov-img-zoom">
                    <img src="images/about-us.png" alt="IMG-ABOUT">
                </div>
            </div>

            <div class="col-md-8 p-b-30">
                <h3 class="m-text26 p-t-15 p-b-16">
                    A young team with a smart vision
                </h3>

                <p class="p-b-28">
                    bSmart, the team behind Flink, is founded on inventiveness and creativity. We seek to shape the world of tomorrow, today!
                </p>

                <div class="bo13 p-l-29 m-l-9 p-b-10">
                    <p class="p-b-11">
                        Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because
                        they didn't really do it, they just saw something. It seemed obvious to them after a while.
                    </p>

                    <span class="s-text7">
                        - Steve Jobs
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>