	<!-- Title Page -->
	<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url(images/flink-background-contact.jpg);">
		<h2 class="l-text2 t-center" style="text-shadow: 2px 2px rgb(80, 80, 80);">
			Contact
		</h2>
	</section>

	<!-- content page -->
	<section class="bgwhite p-t-66 p-b-60">
		<div class="container">
			<div class="row">
				<div class="col-md-6 p-b-30">
					<div class="p-r-20 p-r-0-lg">
						<div class="contact-map size21" id="google_map" data-map-x="43.8191235" data-map-y="18.3120915" data-pin="images/icons/icon-position-map.png" data-scrollwhell="0" data-draggable="1"></div>
					</div>
				</div>

				<div class="col-md-6 p-b-30">
					<form class="leave-comment">
						<h4 class="m-text26 p-b-36 p-t-15">
							Send us a message
						</h4>

						<div class="bo4 of-hidden size15 m-b-20">
							<input id="full-name" class="sizefull s-text7 p-l-22 p-r-22" type="text" name="name" placeholder="Full name">
						</div>

						<div class="bo4 of-hidden size15 m-b-20">
							<input id="phone-number" class="sizefull s-text7 p-l-22 p-r-22" type="text" name="phone-number" placeholder="Phone number">
						</div>

						<div class="bo4 of-hidden size15 m-b-20">
							<input id="email-address" class="sizefull s-text7 p-l-22 p-r-22" type="text" name="email" placeholder="Email address">
						</div>

						<textarea id="message-area" class="dis-block s-text7 size20 bo4 p-l-22 p-r-22 p-t-13 m-b-20" name="message" placeholder="Message"></textarea>

						<div class="w-size25">
							<!-- Button -->
							<button id="send-contact-form" class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4">
								Send
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
    </section>
    <!--===============================================================================================-->
	<script src="js/map-custom.js"></script>
	<!--===============================================================================================-->
	<script>
		$("#send-contact-form").on("click", function(e) {
			e.preventDefault();
			$.ajax({
				url: "rest/v1/contact",
				method: "POST",
				data: $("#full-name, #phone-number, #email-address, #message-area").serialize(),
				success: function() {
					swal("Message sent!", "Thank you for contacting us. We will get back to you soon.", "success");
				},
				error: function() {
					swal("Sending failed!", "You did not provide appropriate contact information.", "error");
				},
				complete: function() {
					$("#full-name, #phone-number, #email-address, #message-area").val("");
				}
			});
		});
	</script>