<!-- Slide1 -->
<section class="slide1 rs1-slick1">
	<div class="wrap-slick1">
		<div class="slick1">
			<div class="item-slick1 item1-slick1" style="background-image: url(images/flink-background-01.jpg);">
				<div class="wrap-content-slide1 size24 flex-col-c-m p-l-15 p-r-15 p-t-120 p-b-170">
					<h2 class="caption1-slide1 xl-text4 t-center bo15 p-b-3 animated visible-false m-b-25" data-appear="fadeInUp">
						flink | Smart Home
					</h2>

					<span class="caption2-slide1 m-text27 t-center animated visible-false m-b-30" data-appear="fadeInDown">
						Next generation of connected home devices
					</span>

					<div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="zoomIn">
						<!-- Button -->
						<a href="product.html" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
							Find out more
						</a>
					</div>
				</div>
			</div>

			<div class="item-slick1 item1-slick1" style="background-image: url(images/flink-background-02.jpg);">
				<div class="wrap-content-slide1 size24 flex-col-c-m p-l-15 p-r-15 p-t-120 p-b-170">
					<h2 class="caption1-slide1 xl-text4 t-center bo15 p-b-3 animated visible-false m-b-25" data-appear="rotateInDownLeft">
						flink | Smart Home
					</h2>

					<span class="caption2-slide1 m-text27 t-center animated visible-false m-b-30" data-appear="rotateInUpRight">
						Next generation of connected home devices
					</span>

					<div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="rotateIn">
						<!-- Button -->
						<a href="product.html" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
							Find out more
						</a>
					</div>
				</div>
			</div>

			<div class="item-slick1 item1-slick1" style="background-image: url(images/flink-background-04.jpg);">
				<div class="wrap-content-slide1 size24 flex-col-c-m p-l-15 p-r-15 p-t-120 p-b-170">
					<h2 class="caption1-slide1 xl-text4 t-center bo15 p-b-3 animated visible-false m-b-25" data-appear="rollIn">
						flink | Smart Home
					</h2>

					<span class="caption2-slide1 m-text27 t-center animated visible-false m-b-30" data-appear="lightSpeedIn">
						Next generation of connected home devices
					</span>

					<div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="slideInUp">
						<!-- Button -->
						<a href="product.html" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
							Find out more
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Top noti -->
<div class="pos-relative">
	<div class="flex-c-m size22 bg0 s-text21 ab-b-l op-0-9">
		<strong>Make your home intelligent and energy efficient.</strong>
	</div>
</div>

<!-- Banner -->
<section class="banner bgwhite p-t-40 p-b-40">
	<div class="container">
		<!-- Category listing -->
		<div class="sec-title p-b-60">
			<h3 class="m-text5 t-center">
				Product Categories </h3>
		</div>
		<div id="category-list" class="row">
			<div class="col-sm-10 col-md-8 col-lg-4">
				<div id="sign-up-banner" class="block2 wrap-pic-w pos-relative m-b-30">
					<img src="images/icons/bg-01.jpg" alt="IMG">
					<div class="block2-content sizefull ab-t-l flex-col-c-m">
						<h4 class="m-text4 t-center w-size3 p-b-8">
							Sign up & get 5% off
						</h4>

						<p class="t-center w-size4">
							Gain a discount on all purchases, receive latest news, give your opinion on existing products and much more.
						</p>

						<div class="w-size2 p-t-25">
							<!-- Button -->
							<span id="sign-up-banner-button" class="pseudo-span flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
								Sign Up
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- New Product -->
<section class="newproduct bgwhite p-t-45 p-b-105">
	<div class="container">
		<div class="sec-title p-b-60">
			<h3 class="m-text5 t-center">
				Our Products
			</h3>
		</div>

		<!-- Slide2 -->
		<div class="wrap-slick2 rs1-slick2">
			<div class="slick2">
			</div>
		</div>

	</div>
</section>

<!-- Banner2 -->
<div class="banner2 bg5 p-t-55 p-b-55 bg-img1" style="background-image: url(images/stay-tuned-background.jpg);">
	<div class="container">
		<div class="flex-w flex-r-m flex-c-xl">
			<div class="p-t-15 p-b-15 w-size28">
				<div class="bgwhite hov-img-zoom pos-relative p-b-20per-ssm">
					<img src="images/stay-tuned.jpg" alt="IMG-BANNER">

					<div class="ab-t-l sizefull flex-col-c-b p-l-15 p-r-15 p-b-20">
						<div class="flex-c-m p-t-44 p-t-30-xl">
							<div class="box-trans flex-col-c-m size3 bo1 m-l-5 m-r-5">
								<span class="box-white m-text10 p-b-1 days">
									69
								</span>

								<span class="box-white s-text5">
									days
								</span>
							</div>

							<div class="box-trans flex-col-c-m size3 bo1 m-l-5 m-r-5">
								<span class="box-white m-text10 p-b-1 hours">
									04
								</span>

								<span class="box-white s-text5">
									hrs
								</span>
							</div>

							<div class="box-trans flex-col-c-m size3 bo1 m-l-5 m-r-5">
								<span class="box-white m-text10 p-b-1 minutes">
									32
								</span>

								<span class="box-white s-text5">
									mins
								</span>
							</div>

							<div class="box-trans flex-col-c-m size3 bo1 m-l-5 m-r-5">
								<span class="box-white m-text10 p-b-1 seconds">
									05
								</span>

								<span class="box-white s-text5">
									secs
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Instagram -->
<section class="instagram p-t-20">
	<div class="sec-title p-b-52 p-l-15 p-r-15">
		<h3 class="m-text5 t-center">
			@ follow us on Instagram
		</h3>
	</div>

	<!-- Draw Instagram pictures from custom scrapper -->
	<div id="instagram-container" class="flex-w rs1-block4">
	</div>
</section>

<!-- Shipping -->
<section class="shipping bgwhite p-t-62 p-b-46">
	<div class="flex-w p-l-15 p-r-15">
		<div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
			<h4 class="m-text12 t-center">
				Delivery all over the Balkan region
			</h4>
		</div>

		<div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 bo2 respon2">
			<h4 class="m-text12 t-center">
				Refund and return policy
			</h4>

			<span class="s-text11 t-center">
				If you are dissatisfied with the quality of our product, simply return it within 30 days and you will be refunded.
			</span>
		</div>

		<div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
			<h4 class="m-text12 t-center">
				Store Opening
			</h4>

			<span class="s-text11 t-center">
				Our shop is open from Monday to Sunday
			</span>
		</div>
	</div>
</section>
<!--===============================================================================================-->
<script type="text/javascript" src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="vendor/slick/slick.min.js"></script>
<script type="text/javascript" src="js/slick-custom.js"></script>
<script src="js/utility.js"></script>
<!--===============================================================================================-->

<script>
	/* Store currently picked product */
	$(".slick2").on("click", "a", function () {
		Utility.addToSession("p_id", $(this).attr("id"));
		$("#sale-link").addClass("highlight");
	});

	$(document).ready(function () {
		$(".slick2").slick("slickRemove");
		$.ajax({
			url: "rest/v1/db/products",
			method: "GET",
			success: function (result) {
				/* retreive available items */
				var html = "";
				for (var i = 0; i < result.length; i++) {
					/* get item status */
					var status = "";
					if (result[i].status == "new")
						status = "block2-labelnew"
					else if (result[i].status == "hot")
						status = "block2-labelsale"
					/* check for registered user discount */
					var userDiscount = (Utility.getFromStorage("ath_usr")) ? 0.05 : 0;
					/* build HTML */
					html +=
						'<div class="item-slick2 p-l-15 p-r-15"><div class="block2"><div class="block2-img wrap-pic-w wrap-pic-h of-hidden pos-relative ' +
						status + '"><img src="' +
						result[i].product_picture +
						'" alt="IMG-PRODUCT"><div class="block2-overlay trans-0-4"><a href="#product" class="block2-btn-addwishlist hov-pointer trans-0-4"></a><div class="landing-page-btn block2-btn-addcart w-size1 trans-0-4"><button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">Add to Cart</button></div></div></div><div class="block2-txt p-t-20"><a id="' +
						result[i].id + '" href="#product" class="block2-name dis-block s-text3 p-b-5">' +
						result[i].product_name + '</a><span class="block2-price m-text6 p-r-5">' + (parseFloat(result[i]
							.product_price) - parseFloat(result[i].product_price) * userDiscount).toFixed(2) +
						' BAM</span></div></div></div>';
				}
				$(".slick2").slick("slickAdd", html);
				addSingleItemToCart(".landing-page-btn");
			}
		});
	});
</script>
<!--===============================================================================================-->
<script>
	/* Get all categories from database */
	$(document).ready(function () {
		$.ajax({
			url: "rest/v1/db/categories",
			method: "GET",
			success: function (result) {
				var html = "";
				for (var i = 0; i < result.length; i++) {
					/* build HTML (could use m-l-r-auto) */
					html +=
						'<div class="col-sm-10 col-md-8 col-lg-4"><div class="block1 hov-img-zoom pos-relative m-b-30"><img src="' + result[i].category_picture + '" alt="IMG-BENNER"><div class="block1-wrapbtn w-size2"><a href="#shop" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">' +
						result[i].category_name + '</a></div></div></div>';
				}
				$("#category-list").prepend(html);
			}
		});
	});
</script>
<!--===============================================================================================-->
<script>
	$("#category-list").on("click", "a", function () {
		Utility.addToSession("p_cat", $(this).html());
		loadCategories();
	});
</script>
<!--===============================================================================================-->
<script>
	$('.block2-btn-addwishlist').each(function () {
		var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
		$(this).on('click', function () {
			swal(nameProduct, "is added to wishlist !", "success");
		});
	});
</script>
<!--===============================================================================================-->
<script>
	$(document).ready(function () {
		$.ajax({
			url: "rest/v1/scrape/ig",
			method: "GET",
			success: function (result) {
				var html = "";
				for (var i = 0; i < result.length; i++) {
					html += '<div class="block4 wrap-pic-w"><img src="' + result[i].picture +
						'" alt="IMG-INSTAGRAM"><a target="_blank" href="https://www.instagram.com/p/' + result[i].shortcode +
						'/?taken-by=flink_home" class="block4-overlay sizefull ab-t-l trans-0-4"><span class="block4-overlay-heart s-text9 flex-m trans-0-4 p-l-40 p-t-25"><i class="icon_heart_alt fs-20 p-r-12" aria-hidden="true"></i><span class="p-t-2">' +
						result[i].likes +
						'</span></span><div class="block4-overlay-txt trans-0-4 p-l-40 p-r-25 p-b-30"><p class="s-text10 m-b-15 h-size1 of-hidden">' +
						result[i].caption + '</p><span class="s-text9">Photo by @flink_home</span></div></a></div>';
				}
				$("#instagram-container").html(html);
			}
		});
	});
</script>